* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4.5fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: none;
    padding: 0.5rem 1.75rem;
    border-radius: 1rem;
    display: block;
}

li {
    list-style-type: none;   
    margin-top: 1rem;
}

#header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#corner {
    display: flex;
    align-items: center;
}

#corner > *:first-child {
    margin-right: 1rem;
}


#sidebar {
    padding: 2rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    row-gap: 1rem;
}

.span-icon {
    display: flex;
    justify-content: space-between;
}

li > button {
    width: 100%;
}

.task {
    margin: 0 1rem 0 1rem;
    padding: 1.25rem;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.task > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.task-description {
    flex: 1
}

.task-toggle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;
}

#content .task:last-child {
    border: none;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
    border-left: 6px solid black;
}

.form-element {
    display: flex;
    flex-direction: column;
}